// // COLOR VARIABLES
$color-primary: #4e40ce;
$color-primary-dark: rgb(4, 5, 90);

// $color-secondary: #101d2c;

$color-grey-light-1: #dbd7d5;
$color-grey-light-2: #aaa;

$color-grey-dark-1: rgb(67, 70, 70);
$color-grey-dark-2: rgb(68, 68, 75);

$color-primary: #F5F5F5;
$color-red: rgb(250, 0, 0);

$text-primary: rgb(253, 253, 255);

$color-white: #fff;

// // FONT VARIABLES
$font-primary: 'Nunito', sans-serif;
$font-display: 'Josefin Sans', sans-serif;

// OTHER VARIABLES
$site-global-margin: 20rem;

$button-background: rgb(27, 150, 222);
$button-hover-background: #040542;
$button-hover-color: #8fcbfd;





