.btn {
    font-size: 1.5rem;
    background: $button-background;
    border-radius: 0.8rem;
    border: none;
    color: $color-white;
    box-shadow: 0;
    padding: 1rem 3rem;
    cursor: pointer;
    transition: color 1s ease, background 0.5s ease;
    &:hover {
        background: $button-hover-background;
        color: $button-hover-color;
    }
    &--orange {
        
        background-color: $button-orange-background;
        &:hover {
            background-color: $color-white;
            color: $button-orange-background;
        }
    }

    &:disabled {
        border: 1px solid #999999;
        background-color: #cccccc;
        color: $button-disabled-text-color;
        // color: #666666;
    }
}



