.header {
    &__topbar {
        display: flex;/*!important*/
        flex: 0 0 auto;
        flex-wrap: wrap;
        padding-top: 1rem;
        background-color: $color-grey-light-1;
        font-size: 2rem;
        align-items: center;

        .topleft {
            padding-left: $site-global-margin;
        }
        .topright {
            padding-right: $site-global-margin;
            display: flex;/*!important*/
            flex: 1 0 auto;
            flex-wrap: wrap;
            text-transform: uppercase;
            justify-content: flex-end;  
            align-items: center;
            &__banner {
                margin-right: 5rem;
                font-weight: bold;
            }
        }
    }
}


