*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  box-sizing: border-box;
  font-size: 62.5%; }

body {
  font-family: "Nunito", sans-serif;
  color: #44444b;
  font-weight: 300;
  line-height: 1.6; }

.header {
  padding-top: 1rem;
  background-color: #dbd7d5;
  font-size: 2rem; }
  .header__topright {
    text-transform: uppercase; }
  .header__navbar {
    background-color: #44444b; }
    .header__navbar ul {
      list-style-type: none;
      display: flex;
      /*!important*/
      flex: 1 1 auto;
      flex-wrap: wrap; }
      .header__navbar ul li a {
        color: #fdfdff;
        text-decoration: none;
        padding: 1rem;
        font-size: 1.5rem; }
        .header__navbar ul li a .icon {
          margin-right: 2rem;
          font-size: 2rem; }
      .header__navbar ul li .circle {
        position: relative;
        top: -3.1rem;
        left: 1.9rem;
        width: 1.3rem;
        height: 1.3rem;
        border-radius: 50%;
        font-size: 0.9rem;
        color: #fff;
        line-height: 1.6rem;
        text-align: center;
        background: #fa0000;
        padding: 0;
        margin: 0; }
