// // COLOR VARIABLES
$color-primary: #4e40ce;
$color-primary-dark: rgb(4, 5, 90);

// $color-secondary: #101d2c;

$color-grey-light-0: #e9e5e3;
$color-grey-light-1: #dbd7d5;
$color-grey-light-2: #aaa;
$color-grey-light-3: rgb(122, 108, 108);

$color-yellow: rgb(236, 227, 187);
$color-yellow-border: rgb(206, 116, 43);

$color-grey-dark-1: rgb(67, 70, 70);
$color-grey-dark-2: #44444b;

$color-primary: #F5F5F5;
$color-red: rgb(250, 0, 0);

$text-primary: rgb(253, 253, 255);

$color-white: #fff;

// // FONT VARIABLES
$font-primary: 'Nunito', sans-serif;
$font-display: 'Josefin Sans', sans-serif;

// OTHER VARIABLES
$site-global-margin: 20rem;

$button-background: rgb(27, 150, 222);
$button-background-darker : rgb(32, 99, 185);

$button-hover-background: #040542;
$button-hover-color: #8fcbfd;
$button-disabled-text-color: #94908d;

$button-orange-background: rgb(204, 109, 20);
$button-orange-background-darker: rgb(148, 82, 20);
$tabs-base-color: white;

$error-field-background: rgb(255, 192, 203);
$error-field-color: rgb(255, 0, 0);

$dashboard-border: #21aeda;
$dashboard-panel-border: #c8ccce;
$dashboard-bluetext: #21aeda;

$drop-down-border: #dbd7d5;

$open-sans: 'Open Sans', 'Helvetica', sans-serif;

$darkNavy: #213140;
$teal1: #66B3FB;
$teal2: #4B9DEA;
$charcoal: #555555;
$gold: #B6985A;

$activeShadow: 0 0 10px rgba($teal1, .5);