.container {
    background: linear-gradient(rgba(255, 255, 255, 0.9),
    rgba(255, 255, 255, 0.5)),
    url(../img/eggs.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 0%;
    background-attachment: fixed;
    height: 130%;
    width: 99vw;
}
.logo {
    display: flex;
}
.handmemo {
    margin-top: 3rem;
    margin-left: 4rem;
    font-size: 3rem;
    font-family: "Brush Script MT", "Brush Script Std", cursive;
}

.containerblock {
    background: linear-gradient(rgba(255, 255, 255, 0.5),
    rgba(255, 255, 255, 0.3)),
    url(../img/block.jpg);
}