.createjobad {
    font-family: inherit;
    padding-top: 3rem;
    padding-right: 40rem;
    padding-left: 40rem;

    margin-right: 50rem;
    padding-top: 2rem;

    .title {
        margin-top: 0.5rem;
        margin-bottom: 1rem;
        color: black;

        font-size: 2rem;
        font-weight: 900;

        padding-top: 2rem;
        margin-left: 5rem;
        margin-right: 5rem;
        padding-bottom: 2rem;
        border-bottom: 2px solid $dashboard-border;
    }
    &__parent {
        // border: 1px solid $dashboard-border;
        // border-radius: 5px;
        background: $color-white;
        color: $color-grey-light-2;
        &--form-item {
            background: $color-white;
            padding-left: 5rem;
            padding-right: 5rem;
            border: 1px solid $dashboard-border;
            margin-top: 2rem;
            border-top-left-radius: 0px;
            border-top-left-radius: 0px;
            border-top: 0;
            border-left: 0;
            border-right: 0;
            border-bottom: 0;
            .updatelogo {
                margin-left: 3rem;
            }
        }
        .logo {
            margin-bottom: 2rem;
        }
        
      
        &--textarea {
            background: $color-white;
            color: $color-grey-light-2;
            margin-left: 5rem;
            padding-right: 5.3rem;
            border: 1px solid $color-grey-light-2;
            border-radius: 5px; 
            line-height: 2rem;
            margin-top: 2rem;
            color: black;
        }
        &--textarea:focus{
            outline: 0;
            color: black;
        }
        &--buttonpanel {
            text-align: center;  
            margin-top: 2rem;   
            margin-bottom: 2rem;
            padding-bottom: 2rem;      
            .btn {
                display: inline-block;
                width: 20rem;
                height: 5rem;   
                &:hover {
                    filter: brightness(85%);
                    color: $button-hover-color;
                } 
            }
        }
        
    }
  }
.container {
    height: 200vh;
}
.autofield {
    width: 61.8rem;
}  
.loader {
    top: 65%;
}
.box {
    background-color: white;
    margin-left: 5rem;
    margin-right: 5rem;
    padding-top: 0.7rem;
    padding-left: 0;
    border: 1px solid $color-grey-light-2;
    border-radius: 7px;
    .text {
        color: rgb(145, 144, 144);
        font-size: 2rem;
        font-weight: 900;
        display: inline-block;
        vertical-align:top;
        margin-left: 1rem;
    }
    &__logotext {
        padding-left: 0;
       justify-items: left;
    }
    &__clipart {
        width: 4.2rem;
        height: 3.0rem;
        position: absolute; 
        right: 7rem;
    }
}
.autocomplete {
    margin-bottom: 5px;
}
.job-error {
    margin-left: 5rem;
    margin-right: 4.9rem;
}
.job-error2 {
    margin-top: 5px;
    // margin-left: 5rem;
    // margin-right: 4.9rem;
}
.parentbox {
    padding-left: 4.8rem;
}

.search_categories {
    margin-bottom: 5px;
}

