.viewjob {
    font-family: inherit;
    padding-top: 3rem;
    height: 100%;
    padding-bottom: 5rem;
    &__parent {
        margin-left: $site-global-margin;
        margin-right: $site-global-margin;
        background: $color-white;
      
       
        .title {
            padding-top: 2rem;
            padding-left: 16rem;
            font-size:4rem;
            font-weight: 800;
            color: #000;
        }
        .body {
            
            display: flex;/*!important*/
            flex: 1 1 auto;
            .left {
                width: 100%;
                font-size: 2.2rem;
                font-weight: 400;
                padding-top: 5rem;
                padding-left: 15rem;
                line-height: 1.8;
                
                color: black;
                &--item {
                    padding-left: 5rem;
                }
                
                .loggy p, i{
                    display: inline-block;
                    // margin-left: 2rem;
                    span{
                        color: $button-orange-background;
  
                    }
                    span:hover {
                        text-decoration: underline;
                        color: $button-orange-background;
                        cursor: pointer;
                    }
                }
                a {
                    // margin-left: 2rem;
                    text-decoration: none;
                    color: $button-orange-background;
                }
                a:hover {
                    text-decoration: underline;
                    color: $button-orange-background;
                }
                
            }
            .right {
                align-items: flex-end;
                width: 20%;
                margin-top: 5rem;
                margin-right: 15rem;
              
                img {
                    max-height: 15rem;
                    width: auto;
                    padding-right: 10rem;
                }
            }
           
        }
        .description {
            margin-top: 3rem;
            margin-left: 15rem;
            margin-right: 15rem;
            font-size: 1.7rem;
            font-weight: 300;
            margin-bottom: 5rem;
            
        }
        .lowerpane span {
            font-size: 2rem;
            font-weight: bold;
            margin-right: 1rem;
        }
        .lowerpane p {
            padding-left: 15rem;
            font-size: 2rem;
       
        }
        .lowerpane {
            padding-bottom: 2rem;
        }
        .buttonpanel {
            text-align: center;
            padding-bottom: 2rem;
            button {
                display: inline-block;
                margin-left: 2rem;
            }
        }
    }
}
.ql-indent-1 {
    margin-left: 80px;
}
.ql-indent-2 {
    margin-left: 160px;
}
.ql-indent-3 {
    margin-left: 240px;
}
