.jsdashboard {
    .container {
        min-height: 150vh;
    }
    .arse1 {
        padding-bottom: 100rem;
        min-height: 100rem;
        background: pink;
    }

    .arse2 {
        margin-bottom: 100rem;
    }
}
.container {
    min-height: 150vh;
}
.arse1 {
    padding-bottom: 100rem;
    min-height: 100rem;
    background: pink;
}

.arse2 {
    margin-bottom: 100rem;
}