.profileparent {
    padding-left: $site-global-margin;
    padding-right: $site-global-margin;
    padding-top: 2rem;
    min-height: 100vh;
    min-width: 100vw;
    // padding-bottom: 20rem;
   
    color:black;
    text-align: left;
    
    &__top {
        background: white;
        padding-bottom: 1rem;
        .title {
            padding-top: 2rem;
            padding-bottom: 2rem;
            margin-left: 5rem;
            margin-right: 5rem;
            font-size: 2rem;
            font-weight: 900;
            border-bottom: 2px solid $dashboard-border;
        }
        .instructions {
            margin-top: 1rem;
            font-size: 1.5rem;
            font-weight: 600;
            margin-left: 5rem;
            padding-bottom: 2rem;
        }
    }
    
    &__bottom {
        padding-top: -2rem;
        margin-top: -2rem;
        margin-bottom: 2rem;
        // background: $color-grey-light-1;
     
        
        .myForm {
            .profiletitle {
                color: black;
                padding-top: 2rem;
                font-size: 2rem;
                font-weight: 900;
                padding-bottom: 2rem;
                margin-left: -10rem;
                margin-right: -10rem;
                padding-bottom: 1rem;
                border-bottom: 1px solid black;
               
            }
            padding-left: 15rem;
            padding-right: 15rem;
            input:-webkit-autofill,
            input:-webkit-autofill:hover,
            input:-webkit-autofill:focus,
            input:-webkit-autofill:active {
                -webkit-transition-delay: 9999s;
                transition-delay: 9999s;
            }
            .tokentext {
                margin-left: 5rem;
                color: black;
                font-size: 1.5rem;
            }
        }
    }
    input[type="text"]:disabled {
        color: grey;
        border: none
      }
}

.container {
    min-height: 320vh;
}
