.recapplications {
    .titley {
        width: 60vw;
        display: flex;
        justify-content: space-between;
        p {
            margin-left: 2rem;
        }
        button {
            height: 4rem;
            width: 16rem;
        }

        .btn:hover {
            text-decoration: none;
        }
        display: flex;
        justify-content: space-between;
        width: 60vw;
        // margin-left: 2rem;
        // margin-bottom: 0.5rem;
        // font-size: 2rem;
        color: $button-orange-background;
       
        .candidatetitle:hover{
            cursor: pointer;
            color: $button-orange-background-darker;
            text-decoration: underline;                   
            font-weight: 600;
        }
        
      
        margin-bottom: 0;
        padding-bottom: 0;
    }

}