
.searchpanel {
    padding-left: $site-global-margin;
   
    min-height: 100vh;
    min-width: 100vw;
    
    font-size: 8rem;
    font-weight: 900;
    text-transform: uppercase;
    color:black;
    &__slogan {
        margin-top: -2rem;
        font-size: 5.5rem;
        font-weight: 400;
        text-transform: uppercase;
    }
    &__grid {
        padding-right: $site-global-margin;
        font-size: 1.5rem;
        font-weight: 600;
        text-transform: none;
        // height: 300px;
        
        display: grid;
        grid-template-rows: 3rem 5rem;
        grid-template-columns: 1f 1f 1f 1f 1f 1f 1f 1f 1f;
        .textbox {
            margin-left: 2rem;
            font-size: 2rem;
        }
        &--item-1 {
            font-size: 1.5rem;
            grid-row: 1 / 1;
            grid-column: 1 / 2;
        }
        &--item-2 {
            font-size: 1.5rem;
            grid-row: 1 / 1;
            grid-column: 5 / 6;
            margin-left: -2.5rem;
        }
        .form-container {
            width: 100%;
            grid-row: 2 / 2;
            grid-column: 1 / 10;
        }
       
        .form {
            display: flex;
            input {
                margin-right: 2rem;
                flex: 2;
              }
        }
    }

    &__button-panel {
        font-weight: 200;
        margin-top: 2rem;       
        max-width: 75vw;
        opacity: 1;
        font-size: 1.3rem;
        border-top-left-radius: 0.8rem;
        border-bottom-left-radius: 0;
        border-top-right-radius: 0.8rem;
        border-bottom-right-radius: 0.8rem;
       
        color: $color-white;
    }
    
    &__container {
        font-weight: 200;
        max-width: 75vw;
        opacity: 1;
        font-size: 1.3rem;
        border-top-left-radius: 0.8rem;
        border-bottom-left-radius: 0;
        border-top-right-radius: 0.8rem;
        border-bottom-right-radius: 0.8rem;
        margin-top: 70px;
       
        background: rgba(68, 68, 75, 1.0);

        transition: height 1.0s ease;
        
        color:white;
        overflow-y: hidden;
        height: 0;
       
        &--blob {
            padding-right: $site-global-margin;
            display: flex;
            justify-content: space-between;
           
            .left {
                margin-top: 2rem;
                margin-left: 1rem;
                margin-bottom: 2rem;
                &__blob {
                    display:flex;
                    .item-1 {
                        color: rgba(68, 68, 75, 0.8);
                        background-color: white;
                    }
                    &--box{
                        margin-top: 1rem;
                        padding: 0.5rem;
                        margin-right: 0.2rem;
                        font-size: 1.5rem;
                        border: 1px solid white;
                    }
                }
            }
            
            .mid {
                margin-top: 2rem;
                // margin-left: 1rem;
                &__blob {
                    display:flex;
                    .item-1 {
                        color: rgba(68, 68, 75, 0.8);
                        background-color: white;
                    }
                    &--box{
                        margin-top: 1rem;
                        padding: 0.5rem;
                        margin-right: 0.2rem;
                        font-size: 1.5rem;
                        border: 1px solid white;
                    }
                }
            
            }
            .right {
                margin-top: 2rem;
                margin-right: 1rem;

                &__blob {
                    display:flex;
                    .item-1 {
                        color: rgba(68, 68, 75, 0.8);
                        background-color: white;
                    }
                    &--box{
                        margin-top: 1rem;
                        padding: 5px;
                        margin-right: 2px;
                        font-size: 1.5rem;
                        border: 1px solid white;
                    }
                }
            }
        } // end blob
    }
   
    &--blob-button2 {
        position: relative;
        top: -100px;
        font-weight: 200;
        color:white;
        height: 3rem;
        width: 15rem;
        opacity: 1;
        cursor: pointer;
        // margin-top: -990px;
       
        border: none;
        border-top-left-radius: 0.8rem;
        border-top-right-radius: 0.8rem;
        border-bottom-left-radius: 0.8rem;
        border-bottom-right-radius: 0.8rem;
        // background: rgba(27, 150, 222, 0.8);
        background: rgba(68, 68, 75, 1.0);
        text-transform: uppercase;
        .blob-button-text{
            margin-left: 1rem;
            font-size: 1.5rem;
           
        }
    }

}