
.searchpanel {
    padding-left: $site-global-margin;
   
    min-height: 100vh;
    min-width: 100vw;
    
    font-size: 8rem;
    font-weight: 900;
    text-transform: uppercase;
    color:black;
    &__slogan {
        margin-top: -2rem;
        font-size: 5.5rem;
        font-weight: 400;
        text-transform: uppercase;
    }
    &__grid {
        padding-right: $site-global-margin;
        font-size: 1.5rem;
        font-weight: 600;
        text-transform: none;
        // height: 300px;
        
        display: grid;
        grid-template-rows: 3rem 5rem;
        grid-template-columns: 1f 1f 1f 1f 1f 1f 1f 1f 1f;
        .textbox {
            margin-left: 2rem;
            font-size: 2rem;
        }
        &--item-1 {
            font-size: 1.5rem;
            grid-row: 1 / 1;
            grid-column: 1 / 2;
        }
        &--item-2 {
            font-size: 1.5rem;
            grid-row: 1 / 1;
            grid-column: 5 / 6;
            margin-left: -2.5rem;
        }
        .form-container {
            width: 100%;
            grid-row: 2 / 2;
            grid-column: 1 / 10;
        }
       
        .form {
            display: flex;
            input {
                margin-right: 2rem;
                flex: 2;
              }
        }
    }

    &__button-panel {
        font-weight: 200;
        margin-top: 2rem;       
        // max-width: 75vw;
        opacity: 1;
        font-size: 1.3rem;
        border-top-left-radius: 0.8rem;
        border-bottom-left-radius: 0;
        border-top-right-radius: 0.8rem;
        border-bottom-right-radius: 0.8rem;
       
        color: $color-white;
    }
    
    &__container {
        font-weight: 200;
        max-width: 75vw;
        opacity: 1;
        font-size: 1.3rem;
        border-top-left-radius: 0.8rem;
        border-bottom-left-radius: 0;
        border-top-right-radius: 0.8rem;
        border-bottom-right-radius: 0.8rem;
        margin-top: 70px;
        background: rgba(68, 68, 75, 1.0);
        color:white;

        transition: height 1.0s ease;
        overflow-y: hidden;
        height: 0;

        &--blob {
            padding-right: $site-global-margin;
            display: flex;
            justify-content: space-between;
           
            .left {
                margin-top: 0rem;
                margin-left: 1rem;
                margin-bottom: 2rem;
                &__blob {
                    display:flex;
                    .item-1 {
                        color: rgba(68, 68, 75, 0.8);
                        background-color: white;
                    }
                    &--box{
                        margin-top: 1rem;
                        padding: 0.5rem;
                        margin-right: 0.2rem;
                        font-size: 1.5rem;
                        border: 1px solid white;
                    }
              
                }
            }
            
            .mid {
                margin-top: 0rem;
                // margin-left: 1rem;
                &__blob {
                    display:flex;
                    .item-1 {
                        color: rgba(68, 68, 75, 0.8);
                        background-color: white;
                    }
                    &--box{
                        margin-top: 1rem;
                        padding: 0.5rem;
                        margin-right: 0.2rem;
                        font-size: 1.5rem;
                        border: 1px solid white;
                    }
                }
            
            }
            .right {
                margin-top: 0rem;
                margin-right: 2rem;
                padding-right: 0;
                margin-left: 2rem;
                &__blob {
                    display:flex;
                    .item-1 {
                        color: rgba(68, 68, 75, 0.8);
                        background-color: white;
                    }
                    &--box{
                        margin-top: 1rem;
                        padding: 5px;
                        margin-right: 2px;
                        font-size: 1.5rem;
                        border: 1px solid white;
                    }
                }
            }
        } // end blob
    }
   
    &--blob-button2 {
        position: relative;
        top: -100px;
        font-weight: 200;
        color:white;
        height: 3rem;
        width: 15rem;
        opacity: 1;
        cursor: pointer;
        // margin-top: -990px;
       
        border: none;
        border-top-left-radius: 0.8rem;
        border-top-right-radius: 0.8rem;
        border-bottom-left-radius: 0.8rem;
        border-bottom-right-radius: 0.8rem;
        // background: rgba(27, 150, 222, 0.8);
        background: rgba(68, 68, 75, 1.0);
        text-transform: uppercase;
        .blob-button-text{
            margin-left: 1rem;
            font-size: 1.5rem;
           
        }
    }
    .toggle {
        margin: 0 0 1.5rem; box-sizing: border-box;
        font-size: 0;
        height: 4.5rem;
        // min-width: 30rem
        margin-left: 10rem;
        padding-left: 0rem;
        max-width: 20rem;
        margin-right: -20rem;
        // padding-right: 35rem;
        margin-top: 2.5rem;
        color:black;
        display: flex; flex-flow: row nowrap;
        justify-content: flex-start; align-items: stretch;
        input {@include hideInput;}
        input + label {
            margin: 0; padding: .75rem 2rem; box-sizing: border-box;
            position: relative; display: inline-block;
            border: solid 1px #DDD; background-color: #FFF;
            // font-size: 1rem; 
            font-size: 1.0rem;
            line-height: 140%; font-weight: 600; text-align: center;
            box-shadow: 0 0 0 rgba(255,255,255,0);
            transition: 	border-color .5s ease-out, 
                        color .75s ease-out, 
                        background-color .5s ease-out,
                        box-shadow .5s ease-out;
            
            /* ADD THESE PROPERTIES TO SWITCH FROM AUTO WIDTH TO FULL WIDTH */
            flex: 0 0 50%; display: flex; justify-content: center; align-items: center;
            /* ----- */
            
            &:first-of-type {border-radius: 6px 0 0 6px;}
            &:last-of-type {border-radius: 0 6px 6px 0;}
        }
        input:hover + label {border-color: $darkNavy;}
        input:checked + label {
            font-size: 1.0rem;
            background-color: rgba(68, 68, 75, 1.0);
            color: #FFF;
            box-shadow: $activeShadow;
            border-color: rgba(68, 68, 75, 1.0);
            z-index: 1;
        }
        // input:focus + label {@include focusOutline;}
    
        @include breakpoint(800) {
            input + label {
                padding: .75rem .25rem;
                flex: 0 0 50%;
                display: flex; justify-content: center; align-items: center;
            }
        }
    }
}

